.container {
  @apply bg-gray-100 h-screen;
}
.child-container {
  @apply flex justify-center;
}
.div-container {
  @apply w-full m-9 bg-white mt-10 mr-4 p-6 rounded-lg;
}
.tag-h1 {
  @apply text-2xl font-bold mb-5 text-center;
}
.form-control {
  @apply flex justify-between gap-3;
}
.input-control {
  @apply bg-white border-2 w-full p-2 rounded-lg;
}
.bnt-container {
  @apply flex justify-between;
}
.bnt-con {
  @apply w-1/2 flex justify-start;
}
.button-control {
  @apply bg-blue-500 text-white px-2 py-2 rounded-lg w-[30%] mt-6 ml-2 font-bold;
}
.scrol-bal {
  @apply overflow-y-auto h-48 w-full;
}
.th-control {
  @apply px-4 py-2;
}
.td-control {
  @apply border px-4 py-2;
}
.button-edit {
  @apply bg-green-500 text-white px-2 py-2 rounded-lg;
}
.button-delete {
  @apply bg-red-500 text-white px-2 py-2 rounded-lg mr-0;
}
